<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bluebird.module.admin.service.impl.AdvertServiceImpl">
    <!--  保存广告位置 -->
    <insert id="saveSelective" parameterType="com.bluebird.module.admin.model.Advert">
        insert into advert
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="@com.bluebird.framework.dao.dbutil.Ognl@isNotEmpty(aId)">aId,</if>
            <if test="@com.bluebird.framework.dao.dbutil.Ognl@isNotEmpty(apId)">apId,</if>
            <if test="@com.bluebird.framework.dao.dbutil.Ognl@isNotEmpty(sortNO)">sortNO,</if>
            <if test="@com.bluebird.framework.dao.dbutil.Ognl@isNotEmpty(title)">title,</if>
            <if test="@com.bluebird.framework.dao.dbutil.Ognl@isNotEmpty(link)">link ,</if>
            <if test="@com.bluebird.framework.dao.dbutil.Ognl@isNotEmpty(picUrl)">pic_url,</if>
            <if test="@com.bluebird.framework.dao.dbutil.Ognl@isNotEmpty(startDate)">start_date,</if>
            <if test="@com.bluebird.framework.dao.dbutil.Ognl@isNotEmpty(endDate)">end_date,</if>
            <if test="@com.bluebird.framework.dao.dbutil.Ognl@isNotEmpty(content)">content,</if>
            <if test="@com.bluebird.framework.dao.dbutil.Ognl@isNotEmpty(opDate)">op_date,</if>
            <if test="@com.bluebird.framework.dao.dbutil.Ognl@isNotEmpty(state)">state,</if>
            <if test="@com.bluebird.framework.dao.dbutil.Ognl@isNotEmpty(province)">province,</if>
            <if test="@com.bluebird.framework.dao.dbutil.Ognl@isNotEmpty(city)">city,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="@com.bluebird.framework.dao.dbutil.Ognl@isNotEmpty(aId)">#{aId},</if>
            <if test="@com.bluebird.framework.dao.dbutil.Ognl@isNotEmpty(apId)">#{apId},</if>
            <if test="@com.bluebird.framework.dao.dbutil.Ognl@isNotEmpty(sortNO)">#{sortNO},</if>
            <if test="@com.bluebird.framework.dao.dbutil.Ognl@isNotEmpty(title)">#{title},</if>
            <if test="@com.bluebird.framework.dao.dbutil.Ognl@isNotEmpty(link)">#{link},</if>
            <if test="@com.bluebird.framework.dao.dbutil.Ognl@isNotEmpty(picUrl)">#{picUrl},</if>
            <if test="@com.bluebird.framework.dao.dbutil.Ognl@isNotEmpty(startDate)">#{startDate},</if>
            <if test="@com.bluebird.framework.dao.dbutil.Ognl@isNotEmpty(endDate)"> #{endDate},</if>
            <if test="@com.bluebird.framework.dao.dbutil.Ognl@isNotEmpty(content)">#{content},</if>
            <if test="@com.bluebird.framework.dao.dbutil.Ognl@isNotEmpty(opDate)">#{opDate},</if>
            <if test="@com.bluebird.framework.dao.dbutil.Ognl@isNotEmpty(state)">#{state},</if>
            <if test="@com.bluebird.framework.dao.dbutil.Ognl@isNotEmpty(province)">#{province},</if>
            <if test="@com.bluebird.framework.dao.dbutil.Ognl@isNotEmpty(city)">#{city},</if>
        </trim>
    </insert>
    <select id="isExist" parameterType="map" resultType="java.lang.Integer">
        SELECT count(aId) FROM advert
        <where>
            <if test="@com.bluebird.framework.dao.dbutil.Ognl@isNotEmpty(aId)">
                AND aId != #{aId}
            </if>
            <if test="@com.bluebird.framework.dao.dbutil.Ognl@isNotEmpty(apId)">
                AND apId = #{apId}
            </if>
            <if test="@com.bluebird.framework.dao.dbutil.Ognl@isNotEmpty(title)">
                AND title = #{title}
            </if>
            <if test="@com.bluebird.framework.dao.dbutil.Ognl@isNotEmpty(city)">
                AND city = #{city}
            </if>
        </where>
    </select>
    <select id="getByCondition" parameterType="map" resultType="com.bluebird.module.admin.model.Advert">
        SELECT a.aId,a.apId,a.title,a.sortNO,a.link,a.pic_url AS picUrl,a.start_date AS startDate,a.end_date AS endDate,a.content,a.state,
                b.title AS positionTitle,b.height,b.width,a.province,a.city
        FROM advert a
        LEFT JOIN advert_position b ON a.apId=b.apId
        <where>
            <if test="@com.bluebird.framework.dao.dbutil.Ognl@isNotEmpty(aId)">
                AND a.aId = #{aId}
            </if>
            <if test="@com.bluebird.framework.dao.dbutil.Ognl@isNotEmpty(apId)">
                AND a.apId = #{apId}
            </if>
            <if test="@com.bluebird.framework.dao.dbutil.Ognl@isNotEmpty(title)">
                AND a.title = #{title}
            </if>
            <if test="@com.bluebird.framework.dao.dbutil.Ognl@isNotEmpty(city)">
                AND a.city = #{city}
            </if>
        </where>
    </select>
    <select id="getAppAdvertList" parameterType="map" resultType="com.bluebird.module.app.vo.AdvertAppVo">
        SELECT sortNO,CONCAT(#{realPath},pic_url) AS picUrl,aId,type,CONCAT(#{realPath},'/mobi/advert/details/',aId) AS link,
        title FROM advert
        WHERE apId=#{apId} AND state=1
         	<if test="@com.bluebird.framework.dao.dbutil.Ognl@isNotEmpty(city)">
                AND city = #{city}
            </if>
               AND DATE_FORMAT(NOW(),'%Y-%m-%d')>= DATE_FORMAT(start_date,'%Y-%m-%d')
               AND DATE_FORMAT(end_date,'%Y-%m-%d')>= DATE_FORMAT(NOW(),'%Y-%m-%d')
        ORDER BY sortNO ASC
    </select>
    <!-- 后台管理员查看广告位置列表 -->
    <select id="getListByCondition" parameterType="map" resultType="com.bluebird.module.admin.model.Advert">
        SELECT a.aId,a.apId,a.title,a.sortNO,a.state,a.op_date AS opDate,b.title AS positionTitle,
        a.start_date AS startDate,a.end_date AS endDate,a.province,a.city
        
        FROM advert a
        LEFT JOIN advert_position b ON a.apId=b.apId
        <where>
        	a.aId != "b1a37e353f0c40cead0b86add1d7a816" 
            <if test="@com.bluebird.framework.dao.dbutil.Ognl@isNotEmpty(aId)">
                AND a.aId=#{aId}
            </if>
            <if test="@com.bluebird.framework.dao.dbutil.Ognl@isNotEmpty(apId)">
                AND a.apId=#{apId}
            </if>
            <if test="@com.bluebird.framework.dao.dbutil.Ognl@isNotEmpty(title)">
                AND a.title LIKE "%"#{title}"%"
            </if>
                        
            <if test="@com.bluebird.framework.dao.dbutil.Ognl@isNotEmpty(city)">
                or city LIKE "%"#{city}"%"
            </if>
            <if test="@com.bluebird.framework.dao.dbutil.Ognl@isNotEmpty(province)">
                or city LIKE "%"#{province}"%"
            </if>
            
            <if test="@com.bluebird.framework.dao.dbutil.Ognl@isNotEmpty(state)">
                AND a.state=#{state}
            </if>
            <if test="@com.bluebird.framework.dao.dbutil.Ognl@isNotEmpty(city)">
                AND a.city=#{city}
            </if>
            <if test="@com.bluebird.framework.dao.dbutil.Ognl@isNotEmpty(startDate)">
                AND a.op_date BETWEEN #{startDate} AND #{endDate}
            </if>
            <if test="@com.bluebird.framework.dao.dbutil.Ognl@isNotEmpty(sortNO)">
                AND a.sortNO=#{sortNO}
            </if>
        </where>
        <if test="@com.bluebird.framework.dao.dbutil.Ognl@isNotEmpty(sort)">
            ORDER BY ${sort}
        </if>
    </select>
    <!-- 后台管理员查看广告位置条数 -->
    <select id="getCountByCondition" parameterType="map" resultType="java.lang.Integer">
        SELECT count(aId)
        FROM advert
        
        <where>
            <if test="@com.bluebird.framework.dao.dbutil.Ognl@isNotEmpty(aId)">
                AND aId=#{aId}
            </if>
            <if test="@com.bluebird.framework.dao.dbutil.Ognl@isNotEmpty(apId)">
                AND apId=#{apId}
            </if>
            <if test="@com.bluebird.framework.dao.dbutil.Ognl@isNotEmpty(title)">
                AND title LIKE "%"#{title}"%"
            </if>
            <if test="@com.bluebird.framework.dao.dbutil.Ognl@isNotEmpty(city)">
                or city LIKE "%"#{city}"%"
            </if>
            <if test="@com.bluebird.framework.dao.dbutil.Ognl@isNotEmpty(province)">
                or city LIKE "%"#{province}"%"
            </if>
            <if test="@com.bluebird.framework.dao.dbutil.Ognl@isNotEmpty(state)">
                AND state=#{state}
            </if>
            <if test="@com.bluebird.framework.dao.dbutil.Ognl@isNotEmpty(city)">
                AND city=#{city}
            </if>
            <if test="@com.bluebird.framework.dao.dbutil.Ognl@isNotEmpty(startDate)">
                AND op_date BETWEEN #{startDate} AND #{endDate}
            </if>
        </where>
    </select>
    <!-- 修改广告位置信息 -->
    <update id="updateSelective" parameterType="com.bluebird.module.admin.model.Advert">
        UPDATE advert
        <set>
            <if test="@com.bluebird.framework.dao.dbutil.Ognl@isNotEmpty(aId)">
                aId=#{aId},
            </if>
            <if test="@com.bluebird.framework.dao.dbutil.Ognl@isNotEmpty(apId)">
                apId=#{apId},
            </if>
            <if test="@com.bluebird.framework.dao.dbutil.Ognl@isNotEmpty(sortNO)">
                sortNO=#{sortNO},
            </if>
            <if test="@com.bluebird.framework.dao.dbutil.Ognl@isNotEmpty(title)">
                title=#{title} ,
            </if>
            <if test="@com.bluebird.framework.dao.dbutil.Ognl@isNotEmpty(link)">
                link=#{link} ,
            </if>
            <if test="@com.bluebird.framework.dao.dbutil.Ognl@isNotEmpty(picUrl)">
                pic_url=#{picUrl},
            </if>
            <if test="@com.bluebird.framework.dao.dbutil.Ognl@isNotEmpty(startDate)">
                start_date=#{startDate},
            </if>
            <if test="@com.bluebird.framework.dao.dbutil.Ognl@isNotEmpty(endDate)">
                end_date=#{endDate},
            </if>
            <if test="@com.bluebird.framework.dao.dbutil.Ognl@isNotEmpty(content)">
                content=#{content},
            </if>
            <if test="@com.bluebird.framework.dao.dbutil.Ognl@isNotEmpty(opDate)">
                op_date=#{opDate},
            </if>
            <if test="@com.bluebird.framework.dao.dbutil.Ognl@isNotEmpty(state)">
                state=#{state},
            </if>
            
            <if test="@com.bluebird.framework.dao.dbutil.Ognl@isNotEmpty(province)">
                province=#{province},
            </if>
            <if test="@com.bluebird.framework.dao.dbutil.Ognl@isNotEmpty(city)">
                city=#{city},
            </if>
            
        </set>
        WHERE aId=#{aId}
    </update>
    
    <!-- 修改免检图片 -->
    <update id="editImg" parameterType="com.bluebird.module.admin.model.Advert">
        UPDATE advert
        <set>
            <if test="@com.bluebird.framework.dao.dbutil.Ognl@isNotEmpty(picUrl)">
                pic_url=#{picUrl}
            </if>
        </set>
        WHERE aId=#{aId}
    </update>
    <update id="editState" parameterType="com.bluebird.module.admin.model.Advert">
        UPDATE advert SET state = #{state},op_date=#{opDate} WHERE aId=#{aId}
    </update>
    <delete id="delete" parameterType="string">
        DELETE FROM advert WHERE aId=#{aId}
    </delete>
    
</mapper>